.numbers {
  background-color: #808F85;

  display: flex;
  border: 1px black solid;
  border-radius: 5px;

  width: 300px;
  height: 350px;

  padding-top: 7px;

  flex-wrap: wrap;
}

.cardButton {
  background-color: #91C499;
  
  border: 1px black solid;

  width: 80px;
  height: 80px;

  cursor: pointer;

  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 5px;

  user-select: none;
}

.numbers .cardButton{
  margin: 0px 5px 0px 12px;
}
.cardButton:active {
  background-color: #91c499ab;
}