.calculator {
  background-color: gray;

  display: flex;

  width: 320px;
  height: 450px;

  flex-direction: column;
  align-items: center;
}

.calculator > p {
  background-color: white;
  display: flex;
  
  width: 90%;
  height: 30px;
  margin-top: 10px;
  
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
}
