* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: linear-gradient(135deg, rgb(232, 232, 160), #2C0E37 );

  display: flex;

  position: relative;

  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;
}
footer {
  font-size: .8em;
  position: absolute;
  bottom: 0;
}

#calculator {
  width: 450px;
  display: flex;
  border-radius: 5px;
  border: #1F1F20 solid 10px;
  
  background-color: #1F1F20;

  flex-direction: column;
}