* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url(./Imgs/background.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;

  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;
}

footer {
  font-size: .8em;
  position: absolute;
  bottom: 0;
}
